@using Microsoft.AspNetCore.Identity
@using SocialMedia1.Services.Groups
@using System.Security.Claims

@model SocialMedia1.Models.Groups.GroupViewModel

@inject IGroupMemberActionsService groupMemberActionsService
@inject UserManager<IdentityUser> userManager
@inject SignInManager<IdentityUser> SignInManager



@{
    ViewData["Title"] = "Group";
}

<div class="jumbotron bg-light">
    <h1 class="display-4">@Model.Name</h1>
    <p class="lead">@Model.Description</p>
    <hr class="my-4">
    <p><a href="/UserProfiles/Profile/@Model.CreatorId">Creator: <b>@Model.Creator</b> </a></p>
    <p><a href="/Groups/Members/@Model.Id"><b>@Model.Members</b> members</a></p>

    <br />

    <p class="lead">
        @if (await groupMemberActionsService.IsUserGroupMemberAsync(@User.FindFirstValue(ClaimTypes.NameIdentifier), Model.Id) == false)
        {
            @if (await groupMemberActionsService.IsJoinRequstSentAsync(Model.Id, @User.FindFirstValue(ClaimTypes.NameIdentifier)))
            {
                <button class="btn btn-info btn-pill btn-sm ml-3 mt-1" disabled>Request Sent</button>
            }
            else
            {
                <a href="/Groups/JoinGroup/@Model.Id" class="btn btn-outline-success btn-pill">Join Group</a>
            }
        }
        else
        {
            if (groupMemberActionsService.IsUserGroupCreatorAsync(@User.FindFirstValue(ClaimTypes.NameIdentifier), @Model.Id))
            {
                <a href="/Groups/JoinRequests/@Model.Id" class="btn btn-outline-info btn-pill">Join Requests: @Model.JoinRequests</a>
            }
            else
            {
                <a href="/Groups/LeaveGroup/@Model.Id" class="btn btn-outline-danger btn-pill">Leave Group</a>
            }
        }
    </p>
</div>

@if (await groupMemberActionsService.IsUserGroupMemberAsync(@User.FindFirstValue(ClaimTypes.NameIdentifier), Model.Id))
{

    <div class="row">
        <div class="col-md-12">
            <form asp-controller="Posts" asp-action="CreateGroupPost" class="col-md-6 offset-md-3 ">
                <div class="container">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-outline row justify-content-center">
                        <textarea type="text" id="content" name="content" class="form-control" rows="4" placeholder="What's new?"></textarea>
                        <span class="text-danger"></span>
                        <input type="hidden" id="id" name="id" value="@Model.Id" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Post" class="btn btn-info btn-md btn-block" />
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />

    <script src="https://kit.fontawesome.com/4123d5e637.js" crossorigin="anonymous"></script>

}
}
    <partial name="_PostFeed" model="Model.Posts"></partial>
}

