@using SocialMedia1.Services.Groups
@using SocialMedia1.Services
@using System.Security.Claims
@using SocialMedia1.Services.Users

@model SocialMedia1.Models.Groups.GroupMembersViewModel
@inject IGroupMemberActionsService groupMemberActionsService
@inject IUserProfileService userProfileService


<head>
    <link rel="stylesheet" href="/css/listOfProfilesStyle.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="people-nearby">

                    @foreach (var member in Model.Members
                    .OrderByDescending(x => groupMemberActionsService.IsUserGroupCreatorAsync(x.Id, Model.GroupId))
                    .ThenByDescending(x => x.Id == @User.FindFirstValue(ClaimTypes.NameIdentifier)))
                    {
                        if (Model.GroupCreatorId == @User.FindFirstValue(ClaimTypes.NameIdentifier))
                        {
                            if (groupMemberActionsService.IsUserGroupCreatorAsync(member.Id, Model.GroupId))
                            {

                                <div class="nearby-user" onclick="window.location='/UserProfiles/Profile/@member.Id';">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <img src="@member.ImageUrl" alt="user" class="profile-photo-lg">
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <h5><a href="/UserProfiles/Profile/@member.Id" class="profile-link"><b>@member.Nickname</b> <i class="fa-solid fa-crown"></i></a></h5>
                                            <p>@member.Name</p>
                                            <p class="text-muted">@member.Bio</p>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="nearby-user" onclick="window.location='/UserProfiles/Profile/@member.Id';">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <img src="@member.ImageUrl" alt="user" class="profile-photo-lg">
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <h5><a href="/UserProfiles/Profile/@member.Id" class="profile-link">@member.Nickname</a></h5>
                                            <p>@member.Name</p>
                                            <p class="text-muted">@member.Bio</p>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <a href="/Groups/KickUser?userId=@member.Id&groupId=@Model.GroupId" class="btn btn-danger btn-pill">Kick</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            if (groupMemberActionsService.IsUserGroupCreatorAsync(member.Id, Model.GroupId))
                            {

                                <div class="nearby-user" onclick="window.location='/UserProfiles/Profile/@member.Id';">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <img src="@member.ImageUrl" alt="user" class="profile-photo-lg">
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <h5><a href="/UserProfiles/Profile/@member.Id" class="profile-link">@member.Nickname <i class="fa-solid fa-crown"></i></a></h5>
                                            <p>@member.Name</p>
                                            <p class="text-muted">@member.Bio</p>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (@User.FindFirstValue(ClaimTypes.NameIdentifier) == member.Id)
                            {
                                <div class="nearby-user" onclick="window.location='/UserProfiles/Profile/@member.Id';">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <img src="@member.ImageUrl" alt="user" class="profile-photo-lg">
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <h5><a href="/UserProfiles/Profile/@member.Id" class="profile-link"><b>@member.Nickname</b> <i class="fa-solid fa-hand-point-left"></i></a></h5>
                                            <p>@member.Name</p>
                                            <p class="text-muted">@member.Bio</p>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="nearby-user" onclick="window.location='/UserProfiles/Profile/@member.Id';">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <img src="@member.ImageUrl" alt="user" class="profile-photo-lg">
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <h5><a href="/UserProfiles/Profile/@member.Id" class="profile-link">@member.Nickname</a></h5>
                                            <p>@member.Name</p>
                                            <p class="text-muted">@member.Bio</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/4123d5e637.js" crossorigin="anonymous"></script>
</body>