@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model SocialMedia1.Models.UsersProfilesViewModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> userManager


<head>
    <link rel="stylesheet" href="/css/listOfProfilesStyle.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="people-nearby">
                    @if (@User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.Id)
                    {
                        @foreach (var item in Model.Profiles)
                        {
                                <div class="nearby-user" onclick="window.location='/UserProfiles/Profile/@item.Id';">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <h5><a href="/UserProfiles/Profile/@item.Id" class="profile-link">@item.Nickname</a></h5>
                                            <p>@item.Bio</p>
                                            <p class="text-muted">@item.Bio</p>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <a href="/UserProfiles/UnfollowUser/@item.Id" class="btn btn-danger btn-pill">Unfollow</a>
                                        </div>
                                    </div>
                                </div>
                        }
                    }
                    else
                    {
                        @foreach (var item in Model.Profiles)
                        {
                            <div class="nearby-user" onclick="window.location='/UserProfiles/Profile/@item.Id';">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <h5><a href="/UserProfiles/Profile/@item.Id" class="profile-link">@item.Nickname</a></h5>
                                        <p>@item.Bio</p>
                                        <p class="text-muted">@item.Bio</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>