@using Microsoft.AspNetCore.Identity
@using SocialMedia1.Services
@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager
@model SocialMedia1.Models.Users.ProfileViewModel
@inject UserManager<IdentityUser> userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body class="profile">
    <div class="container">
        <div class="info">
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <img src="@Model.ImageUrl" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 180px;">
                </div>
                <div class="col-12 col-md-8 d-flex flex-column align-items-center align-items-lg-start">
                    <div class="d-flex flex-row align-items-start mt-3 mt-lg-0">
                        <div class="name">
                            <h2 class="mb-0">@Model.Nickname</h2>
                        </div>
                        <a href="/UserProfiles/EditUserProfile/" class="btn btn-info btn-pill btn-sm ml-3 mt-1">Edit</a>
                    </div>
                    <div class="stats d-flex flex-row align-items-center align-items-lg-start text-center text-lg-left">
                        <div class="posts ml-2 ml-lg-0"><p class="lead"><b id="postCount">@Model.Posts.Count()</b> posts</p></div>
                        <a href="/UserProfiles/Followers/@Model.Id"><div class="posts"><p class="lead"><b>@Model.FollowersCount</b> followers</p></div></a>
                        <a href="/UserProfiles/Following/@Model.Id"><div class="posts"><p class="lead"><b>@Model.FollowingCount</b> following</p></div></a>
                    </div>
                    <p class="lead mb-0 mt-2"><b>@Model.Name</b></p>
                    <p class="lead text-center text-lg-left">@Model.Bio</p>
                </div>
            </div>
        </div>
        <div class="navigation d-flex justify-content-center">
            <ul class="nav nav-info nav-tabs mt-3 d-flex flex-column flex-md-row">
                <li class="nav-item">
                    <a onclick="ChnageCountToPostCount()" class="nav-link active" role="tab" data-toggle="tab" href="#posts">
                        <i class="fas fa-th"></i> Posts
                    </a>
                </li>
                <li class="nav-item">
                    <a onclick="ChnageCountToGroupPostCount()" class="nav-link" role="tab" data-toggle="tab" href="#groupPosts">
                        <i class="fa-solid fa-people-roof"></i> Group posts
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="posts">
                <partial name="_PostFeed" model="Model.Posts"></partial>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="groupPosts">
                <partial name="_GroupFeed" model="Model.GroupPosts"></partial>
            </div>
        </div>

    </div>
    @section Scripts{

    <script src="https://kit.fontawesome.com/4123d5e637.js" crossorigin="anonymous"></script>

    <script>
        function ChnageCountToPostCount(){
            document.getElementById("postCount").innerText = @Model.Posts.Count;
        }
    </script>

    <script>
        function ChnageCountToGroupPostCount(){
            document.getElementById("postCount").innerText = @Model.GroupPosts.Count;
        }
    </script>
    }

</body>
</html>