@using Microsoft.AspNetCore.Identity
@using SocialMedia1.Services
@using System.Security.Claims
@using SocialMedia1.Services.Users
@inject SignInManager<IdentityUser> SignInManager
@model SocialMedia1.Models.Users.ProfileViewModel
@inject IUserActionsService userActionsService
@inject UserManager<IdentityUser> userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body class="profile">
    <div class="container">
        <div class="info">
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <img src="@Model.ImageUrl" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 180px;">
                </div>
                <div class="col-12 col-md-8 d-flex flex-column align-items-center align-items-lg-start">
                    <div class="d-flex flex-row align-items-start mt-3 mt-lg-0">
                        <div class="name">
                            <h2 class="mb-0">@Model.Nickname</h2>
                        </div>
                        @if (await userActionsService.IsUserFollowingAsync(@User.FindFirstValue(ClaimTypes.NameIdentifier), @Model.Id))
                        {
                            <a href="/UserProfiles/Unfollow/@Model.Id" class="btn btn-danger btn-pill btn-sm ml-3 mt-1">Unfollow</a>
                        }
                        else
                        {
                            @if (userActionsService.CheckIfFollowRequestIsSent(@Model.Id, @User.FindFirstValue(ClaimTypes.NameIdentifier)))
                            {
                                <button class="btn btn-info btn-pill btn-sm ml-3 mt-1" disabled>Request Sent</button>
                            }
                            else
                            {
                                <a href="/UserProfiles/Follow/@Model.Id" class="btn btn-success btn-pill btn-sm ml-3 mt-1">Follow</a>
                            }
                        }
                    </div>
                    <div class="stats d-flex flex-row align-items-center align-items-lg-start text-center text-lg-left">
                        <div class="posts ml-2 ml-lg-0"><p class="lead"><b id="postCount">@Model.Posts.Count()</b> posts</p></div>
                        <a href="/UserProfiles/Followers/@Model.Id"><div class="posts"><p class="lead"><b>@Model.FollowersCount</b> followers</p></div></a>
                        <a href="/UserProfiles/Following/@Model.Id"><div class="posts"><p class="lead"><b>@Model.FollowingCount</b> following</p></div></a>
                    </div>
                    <p class="lead mb-0 mt-2"><b>@Model.Name</b></p>
                    <p class="lead text-center text-lg-left">@Model.Bio</p>
                </div>
            </div>
        </div>

        <div class="navigation d-flex justify-content-center">
            <ul class="nav nav-info nav-tabs mt-3 d-flex flex-column flex-md-row">
                <li class="nav-item">
                    <a onclick="ChnageCountToPostCount()" class="nav-link active" role="tab" data-toggle="tab" href="#posts">
                        <i class="fas fa-th"></i> Posts
                    </a>
                </li>
                <li class="nav-item">
                    <a onclick="ChnageCountToGroupPostCount()" class="nav-link" role="tab" data-toggle="tab" href="#groupPosts">
                        <i class="fa-solid fa-people-roof"></i> Group posts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tagged">
                        <i class="far fa-id-badge"></i> Tagged
                    </a>
                </li>
            </ul>
        </div>

        @if (await userActionsService.IsUserFollowingAsync(@User.FindFirstValue(ClaimTypes.NameIdentifier), @Model.Id) == false && @Model.IsPrivate)
        {
            <br />
            <div class="d-flex justify-content-center">
                <h4>Sorry! This account is private. Follow him in order to see his posts. :)</h4>
            </div>
        }
        else
        {
            
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="posts">
                    <partial name="_PostFeed" model="Model.Posts"></partial>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="groupPosts">
                    <partial name="_GroupFeed" model="Model.GroupPosts"></partial>
                </div>
            </div>
        }

    </div>

    @section Scripts{

    <script src="https://kit.fontawesome.com/4123d5e637.js" crossorigin="anonymous"></script>

    <script>
        function ChnageCountToPostCount(){
            document.getElementById("postCount").innerText = @Model.Posts.Count;
        }
    </script>

    <script>
        function ChnageCountToGroupPostCount(){
            document.getElementById("postCount").innerText = @Model.GroupPosts.Count;
        }
    </script>
    }
</body>
</html>