@model SocialMedia1.Models.SearchResultsViewModel

@{
    ViewData["Title"] = "Search";
}

<div class="row">
    <div class="table-responsive col-md-6">
        <h2 class="text-center">Users</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Nickname
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Surname
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Profiles)
                {
                    <tr onclick="window.location='Profile/@item.Id';">
                        <td>
                            @Html.DisplayFor(modelItem => item.Nickname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="table-responsive col-md-6">
        <h2 class="text-center">Groups</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Members
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Groups)
                {
                    <tr onclick="window.location='/Group/@item.Id';">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Members)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>