@model IEnumerable<SocialMedia1.Models.GroupViewModel>

@{
    ViewData["Title"] = "Groups";
}

<h1>Groups</h1>

<p>
    <a href="/Groups/Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.Members)
            </td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="window.location='/Group/@item.Id';">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Members)
                </td>
            </tr>
        }
    </tbody>
</table>
