@model SocialMedia1.Models.Groups.GroupViewModel[]

@{
    ViewData["Title"] = "Groups";
}

<h1>Groups</h1>

<p>
    <a href="/Groups/Create" class="btn btn-info">Create New</a>
</p>

@for (int i = 0; i < Model.Length; i += 2)
{


    <div class="row">
        <div class="col-md-6">
            <div class="component">
                <div class="card">
                    <div class="card-body" onclick="window.location='/Group/@Model[i].Id';">
                        <span class="badge badge-secondary">@Model[i].Status</span>
                        <h4 class="card-title mt-2">@Model[i].Name</h4>
                        <p class="card-text">@Model[i].Description</p>
                    </div>
                    <div class="card-footer">
                        <p><b>@Model[i].Members members</b></p>
                    </div>
                </div>
            </div>
        </div>

        @if (i + 1 < Model.Length)
        {
            <div class="col-md-6">
                <div class="component">
                    <div class="card">
                        <div class="card-body" onclick="window.location='/Group/@Model[i + 1].Id';">
                            <span class="badge badge-secondary">@Model[i + 1].Status</span>
                            <h4 class="card-title mt-2">@Model[i + 1].Name</h4>
                            <p class="card-text">@Model[i + 1].Description </p>
                        </div>
                        <div class="card-footer">
                            <p><b>@Model[i + 1].Members members</b></p>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

    <br />
}


