@using Microsoft.AspNetCore.Identity
@using SocialMedia1.Services
@using System.Security.Claims
@using SocialMedia1.Services.Common
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject INavBarService NavBarService

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] SocialMedia1</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/SocialMedia1.styles.css" asp-append-version="true" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="A new design system for developing with less effort.">
    <meta name="author" content="BootstrapBay">

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">


    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/lazy.css">
    <link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/unpoly@3.9.2/unpoly.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/unpoly@3.9.2/unpoly.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/">SocialMedia1</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-3" aria-controls="navbarNavDropdown-3"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mr-auto text-center" id="navbarNavDropdown-3">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/UserProfiles/MyProfile" up-preload="insert">
                                    My Profile
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/Home/FollowRequests" up-preload="insert">

                                    Follow Requests <sup><span class="badge badge-pill badge-danger">@NavBarService.FollowRequestsCount(@User.FindFirstValue(ClaimTypes.NameIdentifier))</span></sup>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Groups" up-preload="insert">
                                    Groups
                                </a>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/Admin/Reports" up-preload="insert">
                                        Administration
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/Feedback" up-preload="insert">
                                        Feedback
                                    </a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Chat" up-preload="insert">
                                    Chat <sup><span class="badge badge-pill badge-danger">Beta</span></sup>
                                </a>
                            </li>
                            <li>
                                <div class="navbar-left" style="margin-top:3px;">
                                    @using (Html.BeginForm("Search", "Searches", FormMethod.Get))
                                    {
                                        <ul class="nav navbar-nav">

                                            <li>@Html.TextBox("SearchTerm", ViewBag.CurrentFilter as string, new { @class = "form-control me-1", type = "search", placeholder = "Search", } )</li>
                                            <button type="submit" class="btn btn-light">
                                                <i class="fas fa-search"></i>
                                            </button>

                                        </ul>
                                    }
                                </div>
                            </li>
                        </ul>
                    }
                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-1 bg-light text-dark">
        <div class="container">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="links">
                    <ul class="footer-menu list-unstyled d-flex flex-row text-center text-md-left">
                        <li><a href="/UserProfiles/Profile/fee859e9-7b26-4cf8-a3c5-7cea60c13101" target="_blank">About me</a></li>
                        <li><a href="/Home/Privacy" target="_blank">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="social mt-4 mt-md-0">
                    <a class="twitter btn btn-outline-info btn-icon" href="https://twitter.com/Daniel03Ruse" target="_blank">
                        <i class="fab fa-twitter"></i>
                        <span class="sr-only">View my Twitter Profile</span>
                    </a>
                    <a class="facebook btn btn-outline-info btn-icon" href="https://www.facebook.com/daniel.dimitrov.9028" target="_blank">
                        <i class="fab fa-facebook"></i>
                        <span class="sr-only">
                            View my Facebook Profile
                        </span>
                    </a>
                    <a class="github btn btn-outline-info btn-icon" href="https://github.com/DanielDimitrov5" target="_blank">
                        <i class="fab fa-github"></i>
                        <span class="sr-only">View my GitHub Profile</span>
                    </a>
                </div>
            </div>
            <div class="copyright text-center">
                <hr />
                <p class="small">&copy; @DateTime.Now.Year, made with <span class="text-danger"><i class="fas fa-heart"></i></span> by BootstrapBay</p>
            </div>
        </div>
    </footer>

    <partial name="_ValidationScriptsPartial"></partial>

    <script src="/js/signalr/dist/browser/signalr.min.js"></script>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.min.js"></script>

    <script src="/vendor/nouislider/js/nouislider.min.js"></script>

    <!--   lazy javascript -->
    <script src="/js/lazy.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
