@model SocialMedia1.Models.Common.SearchResultsViewModel

@{
    ViewData["Title"] = "Search";
}
<head>
    <link rel="stylesheet" href="/css/listOfProfilesStyle.css">
</head>

<body>
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Users: @Model.Profiles.Count</h2>

            @foreach (var profile in Model.Profiles)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="people-nearby">
                                <div class="nearby-user" onclick="window.location='/UserProfiles/Profile/@profile.Id';">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3">
                                            <img src="@profile.ImageUrl" alt="user" class="profile-photo-lg">
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <h5><a href="/UserProfiles/Profile/@profile.Id" class="profile-link">@profile.Nickname</a></h5>
                                            <p>@($"{@profile.Name} {@profile.Surname}")</p>
                                            <p class="text-muted">@profile.Bio</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Groups: @Model.Groups.Count</h2>

            @foreach (var group in Model.Groups)
            {
                <div class="col-md-12">
                    <div class="component">
                        <div class="card">
                            <div class="card-body" onclick="window.location='/Group/@group.Id';">
                                <span class="badge badge-secondary">Hobby</span>
                                <h4 class="card-title mt-2">@group.Name</h4>
                                <p class="card-text">@group.Description</p>
                            </div>
                            <div class="card-footer">
                                <a href="#a" class="btn btn-outline-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
            }
        </div>
    </div>
</body>
